@charset "utf-8";
/* CSS Document */

:root {
  /*   color variables */
  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;

  /*   border radius */
  --radius: 0.2rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background: var(--clr-gray100);
}



.nav-list {
  background: white;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding: 1rem 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: var(--clr-primary-dark);
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.btn-primary {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  background: var(--clr-primary);
  border: none;
  outline: none;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.btn-primary:hover {
  background: var(--clr-primary-hover);
}

.prev-results {
	margin: 40px 0;	
}

.curr-cards {

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	
	
}

.curr-cards article {
	background: #1e202b;
	color: #fff;	
	padding: 40px 10px;
}

.curr-cards article:nth-child(odd) {
	background: #bfc1c8;	
}

.card-lg {
	position: relative;
	grid-column-start: 1;
	grid-column-end: 3;
	background:#00F;
}

.card-sm {
	text-align: center;	
	
}



.prev-cards {
	display: grid;
	grid-gap: 32px 20px;
	grid-template-columns: repeat(4, 1fr);	
}

.prev-cards .card-md {
	position: relative;
	padding: 40px 10px;
	border-radius: 20px;
	background: #fff;
	color: #000;	
}

.card-lg header,
.card-md header {
	display: flex;
	justify-content: space-between;	
}

.card-lg figure,
.card-md figure {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
img {
	max-width: 100%;
	height:auto;	
}


@media screen and (min-width: 769px) {
	
	
	
}
