@charset "utf-8";
/* CSS Document */

:root {
  /*   color variables */
  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;

  /*   border radius */
  --radius: 0.2rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background: var(--clr-gray100);
}

/* mobile menu */
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding: 1rem 0.5rem;
  border-radius: var(--radius);
}

.nav-list .nav-item a {
  display: block;
  padding: 15px 5px;
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.logo, 
.toggle {
  list-style: none;

}

.nav-item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
  list-style: none;
}

.active .nav-item {
  display: block;
}


.btn-primary {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  background: var(--clr-primary);
  border: none;
  outline: none;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.btn-primary:hover {
  background: var(--clr-primary-hover);
}

.prev-results {
	margin: 40px 0;	
}

.curr-cards {

	display: flex;
	flex-wrap: wrap;
	
}

.curr-cards article {
	background: #1e202b;
	color: #fff;	
  padding: 40px 10px;
  
}

.curr-cards article:nth-child(odd) {
	background: #bfc1c8;	
}


.card-lg {
  flex-grow: 2;
}

.card-sm {
	text-align: center;	
	flex: 1;
}



.prev-cards {
	display: grid;
	grid-gap: 32px 20px;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));	
}

.prev-cards .card-md {
	position: relative;
	padding: 40px 10px;
	border-radius: 20px;
	background: #fff;
	color: #000;	
}

.card-lg header,
.card-md header {
	display: flex;
  justify-content: space-between;	
  align-items: center;
}

.card-lg figure,
.card-md figure {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
img {
	max-width: 100%;
	height:auto;	
}

form {
  display: flex;
  margin: 20px 0;
}

input {
  /* padding: 0 20px; */
  flex-grow: 1;
}


/* Tablet menu */
@media all and (min-width: 700px) {

  .nav-list {
    justify-content: flex-end;
  }
  
  .nav-item {
    margin-right: 1rem;
    display: block;
    width: auto;
    order: 1;
    position: relative;
  }

  .toggle {
    display: none;
  }

  .logo {
    flex: 1;
  }
  
  
  .nav-item a:hover {
    color: var(--clr-primary-dark);
  }
  
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
  }
  

  .card-sm {
    text-align: center;	
    flex-grow: 1;
  }

  form {
    width: 70%;
    margin: 30px auto;
  }

  input {
    padding: 12px 20px;
    flex-grow: 1;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {

  

}
